.markdown-body blockquote {
    background-color: #d3e8ec;
    color: #7f4da6;
    padding: 0 1em;
    padding-top: 0px;
    padding-right: 1em;
    padding-bottom: 0px;
    padding-left: 1em;
    border-left: .35em solid #1a7665;
    border-left-width: 0.35em;
    border-left-style: solid;
    border-left-color: #145260;
}